
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Developer Skills</title>
  <%- include('../header') %>
</head>
<body>
  <table>
    <thead>
        <tr>
            <th colspan='2'>MY DEVELOPER SKILLS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
        <% skills.forEach(function(s, idx) { %>
          <tr>
            <td>
            </form>Skill <%= idx + 1 %>: <a href="/skills/<%= idx %>"><%= s.skill %></a></td>
          </tr>
        <% }); %>
        <tr>
        </tr>
        <tr>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><input disabled id="input-box" class="disabled" type="text" name="skill"></td>
            <td id="button-cell"><button onclick="window.location.href = '/skills/new';" id="add-button">ADD SKILL</button></td>
        </tr>
    </tfoot>
    </table>
  </body>
</html>