
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Skills</title>
  <%- include('../header') %>
</head>
<body>
  <table>
    <thead>
        <tr>
            <th colspan='2'>MY DEVELOPER SKILLS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
        <% skills.forEach(function(s, idx) { %>
          <tr>
            <td><a href="/skills/<%= idx %>"><%= s.skill %></a></td>
          </tr>
        <% }); %>
        <tr>
        </tr>
        <tr>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td id="input-cell"><input id="input-box" type="text" id="new-skill"></td>
            <td id="button-cell"><button id="add-button">ADD SKILL</button></td>
        </tr>
    </tfoot>
    </table>
  </body>
</html>